body {
  font-size: .9em;
}

html {
  scrollbar-gutter: stable;
}

body.container {
  max-width: 550px;
  min-height: 100vh;
  background-color: #1b1e17;
  padding: 0 10px;
}

#toolbar {
  display: flex;

  hgroup {

    h1 {
      font-size: 1.7em;
      font-family: "Special Elite", system-ui;
      color: rgb(124, 172, 18);
      margin: 0;
    }

    p {
      font-size: 0.9em;
      margin: 0;
    }

    margin-right: auto;
    margin-bottom: 0;
  }
}

body>main {
  padding-block: 0;
}
