{% extends "layoutx.html" %}
{% block style %}
<link rel="stylesheet" href="{{ request.url_for('static', path='xxx/shopping_list.css') | githash }}" />
{% endblock style %}

{% block title %}{{ mylist.name }} - {{mylist.listtype.codename}} {% endblock %}
{% block header %}{{ mylist.name }}{% endblock %}
{% block subheader %}{{mylist.listtype.codename}}{% endblock %}

{% block content %}
{% for section, items in section_items.items() %}
<ul class="list">
  <li class="section-title">{{ section.title }}</li>
  {% for item in items %}
  {% block listitem scoped %}
  <li class="list-item"
    hx-put="{{ request.url_for('update_item', item_id=item.id) }}"
    hx-trigger="input, change, blur"
    hx-vals='js:{"txt": event.target.innerText}'
    hx-swap="none"
    contenteditable="true"
    data-originaltxt="{{ item.txt }}">{{ item.txt }}</li>
  {% endblock listitem %}
  {% endfor %}
  <li class="list-item new-item"
    hx-post="{{ request.url_for('create_item_after') }}"
    hx-trigger="click"
    hx-swap="beforebegin"
    hx-target="this"
    hx-vals='{"after_item_id": {{ items[-1].id }}}'>&nbsp;+</li>
</ul>
{% endfor %}
{% endblock content %}
