@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Meow+Script&family=Special+Elite&family=Yellowtail&display=swap');


ul.list {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    display: flex;

    line-height: 1.8em;
    font-size: 1em;
    list-style: none;
    border-bottom: 0.5px solid #244324;

    &.section-title {
      font-family: "Homemade Apple", cursive;
      font-size: 1.3em;
      line-height: 1.4em;
      color: rgb(151, 54, 18);
    }

    textarea {
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;

      /* color: inherit; */
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;

      min-height: 1.8em;

      background: transparent;
      resize: none;
      overflow: hidden;
      white-space: pre-wrap;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
