{% macro checkitem(item) %}
<li role="group">
  <label for="completed">
    <input name="completed"
      type="checkbox"
      hx-patch="/checklist/{{ item.uuid }}/completed"
      {% if item.completed %}checked{% endif %} />
    {{ item.description }}
  </label>
  <span class="recurring {% if item.recurring %}active{% endif %}"
    hx-patch="/checklist/{{ item.uuid }}/recurring"
    hx-vals='{"recurring": {{ "false" if item.recurring else "true" }} }'>
    ⟳
  </span>
</li>
{% endmacro %}

{% macro checkitems(view) %}
{% for item in view %}
{{ checkitem(item) }}
{% endfor %}
{% endmacro %}

{% macro add_subproject_item(subproject) %}
<li class="add-subproject-item" role="group">
  <span>+</span>
  <input id="add-subproject-item-input-{{subproject.name}}"
    type="text"
    name="description"
    hx-post="/checklist/{{ subproject.name }}/new"
    hx-on::after-request="if(event.detail.successful) this.value=''"
    value=""
    placeholder="add item"
    enterkeyhint="send" />
</li>
{% endmacro %}
<div id="toolbaritems" hx-swap-oob="replace">
  <span class="undo {% if undoview.undocommand %}enabled{% endif %}" hx-post="/checklist/{{ listview.project.name }}/undoredo/undo">⎌</span>
  <span class="redo {% if undoview.redocommand %}enabled{% endif %}" hx-post="/checklist/{{ listview.project.name }}/undoredo/redo" style="transform: matrix(-1, 0, 0, 1, 0, 0);">⎌</span>
</div>

<div id="checklist-items" hx-swap-oob="morph">
  <section>
    <ul class="incomplete">
      {{ checkitems(listview.currentproject.incomplete) }}
    </ul>

    {% for subproject_listview in listview.subproject_views() %}
    <h2 class="subproject">{{ subproject_listview.project.name[listview.project.name|length:][1:] | replace('_', ') ')}} </h2>
    <ul class="incomplete">
      {{ checkitems(subproject_listview.incomplete) }}
      {{ add_subproject_item(subproject_listview.project) }}
    </ul>
    {% endfor %}

  </section>

  <section>
    <div id="completed-toolbar">
      <h2>Completed</h2>
      <a class="reset-checklist" hx-post="/checklist/{{ listview.project.name }}/reset"><small>Reset Checklist</small></a>
    </div>
    <ul class="complete">
      {{ checkitems(listview.complete|sort(attribute='completion_datetime', reverse=True)) }}
    </ul>
  </section>
</div>
