{% macro checkitem(item) %}
<li role="group">
  <span>
    <label for="completed">
      <input name="completed"
        type="checkbox"
        hx-patch="/checklist/{{ item.uuid }}/completed"
        {% if item.completed %}checked{% endif %} />
      {{ item.description }}
    </label>
  </span>
  <span class="recurring {% if item.recurring %}active{% endif %}"
    hx-patch="/checklist/{{ item.uuid }}/recurring"
    hx-vals='{"recurring": {{ "false" if item.recurring else "true" }} }'>
    ⟳
  </span>
</li>
{% endmacro %}

<div id="checklist-items" hx-swap-oob="true">
  <section>
    <ul class="incomplete">
      {% for item in listitems if not item.completed %}
      {{ checkitem(item) }}
      {% endfor %}
    </ul>
  </section>

  <section>
    <hgroup role="group">
      <h2>Completed</h2>
      <a class="reset-checklist" hx-post="/checklist/{{ project.name }}/reset"><small>Reset Checklist</small></a>
    </hgroup>
    <ul class="complete">
      <h3>Recurring</h3>
      {% for item in listitems if item.completed  and item.recurring %}
      {{ checkitem(item) }}
      {% endfor %}
    </ul>
    <ul class="complete">
      <h3>Complete</h3>
      {% for item in listitems if item.completed  and not item.recurring %}
      {{ checkitem(item) }}
      {% endfor %}
    </ul>
  </section>
</div>
