{% macro checkitem(item) %}
<li role="group">
  <label for="completed">
    <input name="completed"
      type="checkbox"
      hx-patch="/checklist/{{ item.uuid }}/completed"
      {% if item.completed %}checked{% endif %} />
    {{ item.description }}
  </label>
  <span class="recurring {% if item.recurring %}active{% endif %}"
    hx-patch="/checklist/{{ item.uuid }}/recurring"
    hx-vals='{"recurring": {{ "false" if item.recurring else "true" }} }'>
    ⟳
  </span>
</li>
{% endmacro %}
{% macro add_subproject_item(subproject) %}
<li class="add-subproject-item" role="group">
  <span>+</span>
  <input id="add-subproject-item-input-{{subproject.name}}"
    type="text"
    name="description"
    hx-post="/checklist/{{ subproject.name }}/new"
    hx-on::after-request="this.value=''"
    value=""
    placeholder="add item" />
</li>
{% endmacro %}

<div id="checklist-items" hx-swap-oob="true">
  <section>
    {% for subproject, listitems in listitems_by_subproject.items() %}

    {% if subproject.name != project.name %}
    <h2>{{ subproject.name[project.name|length:][1:]}} </h2>
    {% endif %}

    <ul class="incomplete">
      {% for item in listitems if not item.completed %}
      {{ checkitem(item) }}
      {% endfor %}

      {% if subproject.name != project.name %}
      {{ add_subproject_item(subproject) }}
      {% endif %}
    </ul>
    {% endfor %}

  </section>

  <section>
    <hgroup class="completed-toolbar" role="group">
      <h2>Completed</h2>
      <a class="reset-checklist" hx-post="/checklist/{{ project.name }}/reset"><small>Reset Checklist</small></a>
    </hgroup>
    <ul class="complete">
      <h3>Recurring</h3>
      {% for item in listitems if item.completed  and item.recurring %}
      {{ checkitem(item) }}
      {% endfor %}
    </ul>
    <ul class="complete">
      <h3>Complete</h3>
      {% for item in listitems if item.completed  and not item.recurring %}
      {{ checkitem(item) }}
      {% endfor %}
    </ul>
  </section>
</div>
