{% extends "common/layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ request.url_for('static', path='/checklist.css') }}" />
{% endblock style %}

{% block title %}Checklists{% endblock %}
{% block header %}Checklists{% endblock %}
{% block subheader %}All checklists{% endblock %}

{% block content %}
<input class="new-item" name="description" value="" placeholder="e.g. camper.winterize, grocery.3_meat, etc."
  _="on keyup[key is 'Enter'] go to url `/checklist/${me.value}`"
  enterkeyhint="send" />
<ul id="index-list">
  {% for lv in checklist_listview.subproject_views() %}
  <li>
    <a href="{{ request.url_for('checklist', project_name=lv.project.name) }}">{{ lv.project.name }}</a>
  </li>
  {% for sub_lv in lv.subproject_views() %}
  <li class="sub-item">
    <a href="{{ request.url_for('checklist', project_name=sub_lv.project.name) }}">{{ sub_lv.project.name }}</a>
  </li>
  {% endfor %}
  {% endfor %}
</ul>
{% endblock content %}
