h2.subproject {
  font-size: 1.2em;
  margin-top: 1.6em;
  font-weight: 400;
  font-style: italic;
  opacity: .66;
}

ul {
  padding-left: 0;


  li {
    --pico-spacing: .7em;

    input[type="checkbox"] {
      font-size: 1.2em;
    }

    .recurring {
      margin-left: .5em;
      font-size: 1.5em;
      line-height: 1em;
      font-weight: 800;
      cursor: pointer;
      flex-grow: 0;
      color: rgb(36, 184, 36);
      /* shadow for better visibility/contrast around emoji icon */
      text-shadow: 0 0 1px rgb(129, 129, 129);

      opacity: 0.2;

      &.active {
        opacity: 1;
      }
    }

    &.add-subproject-item {
      margin-top: 0.5em;
      line-height: 1.6em;
      box-shadow: none;

      span {
        margin-right: 0.5em;
        font-size: 1.6em;
      }

      input[type="text"] {
        height: 1.8em;
        padding: 0.3em;
        border-radius: 3px;
      }
    }
  }

  &.complete li {
    opacity: var(--pico-form-element-disabled-opacity);

    &:hover {
      opacity: 1;
    }
  }

}


.completed-toolbar {
  margin-top: 2em;
  gap: 1em;
  align-items: flex-start;

  h2 {
    font-size: 1.3em;
    opacity: .86;
    margin: 0;
    max-width: fit-content;
  }

  .reset-checklist {
    max-width: fit-content;
  }
}
