{% extends "common/layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ request.url_for('static', path='/checklist.css') | githash }}" />
{% endblock style %}

{% block title %}{{ project.name }} - Checklist{% endblock %}
{% block header %}{{ project.name }}{% endblock %}
{% block subheader %}Checklist{% endblock %}

{% block content %}
<input class="new-item" name="description" value="" placeholder="e.g. refried beans"
  hx-post="/checklist/{{ project.name }}/new"
  hx-on::after-request="if(event.detail.successful) this.value=''"
  enterkeyhint="send" />
<div hx-ext="ws"
  ws-connect="/ws/checklist/{{ project.name }}?renderer_name=checklist"
  ws-reconnect="true">
  <div id="checklist-items">Loading...</div>
</div>
{% endblock content %}
