{% extends "common/layout.html" %}

{% block title %}SQLAdmin{% endblock %}
{% block header %}Admin{% endblock %}
{% block subheader %}SQL{% endblock %}

{% block content %}
<form hx-post="/sqladmin" hx-target="#results">
  <textarea name="sql" placeholder="Enter SQL here"></textarea>
  <button type="submit">Run</button>
</form>

<div id="results">
</div>


<pre>
CREATE TABLE IF NOT EXISTS list (
    uuid UUIDLE PRIMARY KEY,
    creation_datetime TIMESTAMP,
    description TEXT,
    project_name TEXT,
    project_type LISTITEMPROJECTTYPE,
    completion_datetime TIMESTAMP,
    archival_datetime TIMESTAMP,
    priority TEXT,
    recurring BOOLEAN
    )
</pre>
<form>
<button class='outline secondary' hx-post="/reload" hx-target="#results" >
Reload ListRegistry from DB
</button>
</form>

{% endblock content %}
