{% extends "common/layout.html" %}
{% block styles %}
<style>
  div {
    white-space: nowrap;
    line-height: 80%;
    font-size: smaller;
    font-family: monospace;
  }

  u {
    color: #ad0f0f;
  }

  i {
    color: #87b815;
  }

  b {
    color: #0e997b;
  }
</style>
{% endblock styles %}

{% block title %}todo.txt{% endblock %}

{% block content %}
<div hx-ext="ws" ws-connect="/ws/todotxt/{{ list_project_type.value }}/{{ list_project_name }}" ws-reconnect="true">
  <pre id="todotxt-items">Loading...</pre>
</div>
{% endblock content %}