{% extends "common/layout.html" %}
{% block styles %}
<style>
  pre {
    white-space: nowrap;
    padding: .5rem;
  }

  u {
    color: #ad0f0f;
  }

  i {
    color: #87b815;
  }

  b {
    color: #0e997b;
  }
  p {
    margin: 0;
  }
</style>
{% endblock styles %}

{% block title %}todo.txt{% endblock %}

{% block content %}
<div hx-ext="ws" ws-connect="/ws/{{ project.project_type.value if project.project_type.value != 'null' else '*'}}/{{ project.name if project.name != '' else '*' }}?renderer_name=todotxt" ws-reconnect="true">
  <pre id="todotxt-items">Loading...</pre>
</div>
{% endblock content %}