html {
  scrollbar-gutter: stable;
}

body.container {
  max-width: 550px;
}

#toolbar {
  display: flex;

  #logo {
    margin-right: .5em;

    img {
      height: 3em;
    }
  }

  hgroup {
    margin-right: auto;
    margin-bottom: 0;
  }

  #toolbaritems {
    font-size: 3em;

    span {
      /* inline-block enables mirroring icons */
      display: inline-block;
    }

    :not(.enabled) {
      opacity: .35;
      pointer-events: none;
    }

    .enabled {
      cursor: pointer;
      color: #17d0dd;
    }
  }
}
